.total-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
main, aside {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}