main > .container {
    background-color: var(--color-azul_translucid);
    width: 100%;
    min-height: 87.7vh;
    padding-top: 5.7rem;
    padding-left: 5rem;
    border-radius: 0 0 0 70px;

}

.container .main__sub-title {
    font-weight: 700;
    font-size: 1.10rem;
}

.container .main__text {
    font-weight: 500;
}

.btn-maker {
    background-color: var(--color-azul2);
    color: var(--color-bege);
    border: 0;
    border-radius: 7px;
    padding: 0.4rem;
}

.btn-history {
    background-color: var(--color-azul2);
    color: var(--color-bege);
    border: 0;
    border-radius: 7px;
    padding: 0.4rem;
}